extends layout

block header
  img(src='/images/Consulta_Montalban.jpg')


block navegacion
  nav
    ul      
      li 
        a(href='/') Inicio
      li 
        a(href='/endocrinologia') Endocrinología y Diabetes
      li
        a(href='/nutricion') Nutrición y Obesidad
      li
        a(href='/clinica') Nuestra Clínica
        
block section
  #seccion_principal
    #caja_clinica
        #caja_9 
          #titulo_clinic Dra. Coral Montalbán Carrasco
          #titulo_clinic  Curriculum Vitae
 
        #caja_10
          img(src='/images/Dra_Montalban.jpg')

    #caja_cv
        #color_gris
          #separador
          p Licenciada en Medicina por la Universidad de Cantabria en 1991 
          p Colegiada en el  Colegio Oficial de Médicos de Cantabria desde 1992
          #separador
          p Especialista en Endocrinología y Nutrición por el Hospital Marqués de Valdecilla desde 1996
          #separador
          p Actualmente Médico Adjunto del Servicio de Endocrinología y Nutrición del Hospital Marqués de  Valdecilla, Santander, Cantabria. Formando parte de la Unidad de Nutrición Clínica,  atendiendo consultas específicas de Nutrición Clínica y Obesidad Mórbida, aparte de la dedicación a la Endocrinología general
          #separador
          p Endocrinóloga en el Hospital Comarcal de  Sierrallana, Torrelavega, Cantabria durante los años 1998-2011
          #separador
          p Socia de varias sociedades  científicas (Sociedad Española de Endocrinología y Nutrición, Sociedad Española de Diabetes, Sociedad Española de Obesidad, Sociedad Española de Nutrición Enteral y Parenteral)
          #separador
          p Ha participado en varios estudios de investigación, publicaciones y comunicaciones a Congresos
          #separador
          p Desde el inicio de la carrera profesional dentro de la  Endocrinología con especial dedicación al campo de la Nutrición Clínica, Obesidad y Diabetes Mellitus
          #separador
          p Siempre con sensibilidad especial al área de la formación, ha participado en numerosas actividades docentes (cursos, charlas, formación de residentes).
   

block footer
  #pie 
    small Copyright 2014 Doctora Montalbán Carrasco