extends layout

block header
  #cabecera
    h1.cabecera1(data-numlineas='1')   
      if (opcion)
        p #{opcion} es una gran especialidad
      else 
        p Especialidad no seleccionada


block navegacion
  nav
    ul      
      li 
        a(href='/') Inicio
      li 
        a(href='/nutricion/') Nutrición Clínica
      li
        a(href='/endocrinologia/general') Endocrinología
        #submenu
          ul
            li
              a(href='/endocrinologia/preventiva') Preventiva
            li 
              a(href='/endocrinologia/especial') Especial
        

   

block footer
  #pie 
    small Copyright ---