!!! 5
html(lang='en')
  head
    title My Web Site
    link(rel='stylesheet', href='/stylesheets/misestilos.css')
    link(rel='stylesheet', media='screen and (max-width: 1080px)', href='/stylesheets/misestilos_old.css')
    

    block stylesheets
   
    block scripts

  body
    block div 
      #caja_principal
        block header
        
        block navegacion

        block section

        block aside
        
        block footer




