!!! 5
html(lang='en')
  head
    title Endocrino Dra. Coral Montalbán
    

    block stylesheets
      link(rel='stylesheet', href='/stylesheets/misestilos.css')
    block scripts

  body
    block div 
      #caja_principal
        block header
        
        block navegacion

        block section

        block aside
        
        block footer




